<header></header>
<main>
   <div class="welcome-bg">
      <div class="white-circle horizontal-center-list">
         <div class="horizontal-list padding">
            <div class="vertical-list half">
               <div>
                  <span class="title">Менеджер паролей</span><br>
                  <span class="title">для</span>
                  <span class="accent">компаний</span>
               </div>
               <span class="text">
                  Снижайте риски утечек и ошибок сотрудников с надёжным управлением паролями в вашей компании
               </span>
               <button tuiButton size="xl" class="blue-button round-button big-button">
                  Попробовать сейчас
               </button>
            </div>

            <img src="welcome.png" class="welcome-img">
         </div>
      </div>
   </div>

   <div class="gray-bg" id="functions">
      <span class="sub-title">Основные возможности</span>
      <div class="horizontal-center-list">
         <info-card iconName="shield-alert" text="Предотвращение взлома с помощью системы безопасности"></info-card>
         <info-card iconName="history" text="Показ истории просмотра паролей"></info-card>
         <info-card iconName="log-in" text="Двухфакторная аутентификация"></info-card>
         <info-card iconName="key-round" text="Рекомендации по паролям и генератор паролей"></info-card>
         <info-card iconName="database" text="Поиск утечек паролей в базах"></info-card>
         <info-card iconName="link" text="Создание одноразовых ссылок для просмотра паролей"></info-card>
      </div>     
   </div>
</main>
<footer></footer>