<form [formGroup]="authForm" class="vertical-list outlet">
   <h1 class="header-text">Авторизация</h1>

   <input name="login" class="input" formControlName="login" placeholder="Логин" required />
   @if(authForm.controls["login"].invalid && authForm.controls["login"].touched){
      <span class="alert">Введите логин</span>
   }
   <input type="password" class="input" name="password" formControlName="password" placeholder="Пароль" required />
   @if(authForm.controls["password"].invalid && authForm.controls["password"].touched){
      <span class="alert">Введите пароль</span>
   }
   <span class="error"> {{ error() }} </span>
   <br>

   <button tuiButton class="blue-button full-width-button" type="submit" [disabled]="authForm.invalid"
      (click)="onSubmit()">
      Войти
   </button><br>

   <p class="main-text">Нет аккаунта? <a class="link" (click)="showRegistrationDialog()">Зарегистрироваться</a> </p>
</form>