.horizontal-list {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
}

.vertical-list {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.header-group {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
}

.cards-list {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
}

.box {
   inline-size: calc(100vw - 28vh - 2rem);
   block-size: calc(100vh - 2rem - var(--normal-font-size));
}

.info-block {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   padding: 1rem;
   gap: 1rem;
}

/* texts */

.title {
   color: white;
   font-family: var(--main-font);
   font-size: var(--normal-font-size);
   margin-left: 0.5rem;
}

.title-link {
   color: white;
   font-family: var(--main-font);
   font-size: var(--normal-font-size);
   line-height: var(--normal-font-size);
   text-decoration: none;
}

.title-link:hover {
   color: rgb(221, 221, 221);
   cursor: pointer;
}

.link {
   color: var(--blue);
   font-family: var(--main-font);
   font-size: var(--normal-font-size);
   line-height: var(--normal-font-size);
   text-decoration: none;
   margin-left: 1rem;
}

.link:hover {
   color: var(--dark-blue);
   cursor: pointer;
}

.text {
   color: black;
   font-family: var(--main-font);
   font-size: 1.5rem;
   line-height: 1.5rem;
}

/* images */

.icon {
   width: var(--normal-font-size);
   height: var(--normal-font-size);
   margin-right: 0.5rem;
}

.image {
   height: 60vh;
   width: auto;
   object-fit: contain;
}

/* other */
.gap {
   gap: 0.5rem;
}

.big-gap {
   gap: 2rem;
}

.page-padding {
   padding: 1.5rem;
}