<div class="horizontal-list">
   <main-menu></main-menu>

   <div class="vertical-list main-page">
      <div class="main-page-header">
         <span class="title">Генератор паролей</span>
      </div>

      <form [formGroup]="form" class="cloud generator-container">
         <h2>Генератор паролей</h2>
   
         <div class="password-display">
            <input type="text" [value]="generatedPassword" readonly>
            <button tuiButton size="m" class="light-gray-button" (click)="copyToClipboard()">
               <tui-icon class="small-icon" icon="copy"></tui-icon>
            </button>
         </div>
   
         <div class="password-strength" [class]="passwordStrength">
            {{ passwordStrength === 'strong' ? 'Хороший пароль' : passwordStrength === 'medium' ? 'Средний пароль' :
            'Слабый пароль' }}
         </div>
   
         <div class="settings">
            <div class="row">
               <input tuiCheckbox type="checkbox" formControlName="lowercase" name="lowercase">
               <label for="lowercase" class="text">Строчные буквы</label>
            </div>

            <div class="row">
               <input tuiCheckbox type="checkbox" formControlName="uppercase" name="uppercase">
               <label for="uppercase" class="text">Заглавные буквы</label>
            </div>

            <div class="row">
               <input tuiCheckbox type="checkbox" formControlName="numbers" name="numbers">
               <label for="numbers" class="text">Цифры</label>
            </div>

            <div class="row">
               <input tuiCheckbox type="checkbox" formControlName="special" name="special">
               <label for="special" class="text">Спецсимволы</label>
            </div>
         </div>
   
         <div class="controls">
            <label>
               Длина пароля:
               <input type="number" min="4" max="100" formControlName="length" />
            </label>
            <button tuiButton class="blue-button round-button" (click)="generatePassword()" [disabled]="form.invalid">
               Сгенерировать
            </button>
         </div>
      </form>
   </div>
</div>

