
/* global colors */
:root {
   --blue: #5B7AE5;
   --orange: #E6B05C;
   --yellow: #E6D25C;

   --dark-blue: #445bac;

   --light-gray: #EEEEEE;
   --shadow-gray: rgba(0,0,0,0.2);
   --middle-gray: #7D7D7D;
   --dark-gray: #27292A;

   --main-font: 'Calibri';
   --title-font: 'Calibri';

   --normal-font-size: 1.15rem;
}

.main-page {
   background-color: var(--light-gray);
   width: 100%;
   height: 100vh;
}

.main-page-header {
   background-color: #27292ae3;
   padding: 1rem;
   padding-left: 2rem;
   border-left: 1px solid var(--middle-gray);
   width: calc(100% - 3rem);
}

.cloud {
   background-color: white;
   border-radius: 20px;
   box-shadow: 0 0 10px var(--shadow-gray);
}

/* buttons */
[tuiAppearance].blue-button {
   background-color: var(--blue);
   font-family: var(--main-font);
   font-size: var(--normal-font-size);
}
[tuiAppearance].blue-button:hover {
   background-color: var(--dark-blue);
}

[tuiAppearance].round-button {
   border-radius: 2em;
   padding-left: 1.5em;
   padding-right: 1.5em;
}

[tuiAppearance].light-button {
   background-color: white;
   border: 2px solid var(--blue);
   border-radius: 1rem;
   font: var(--main-font);
   font-size: var(--normal-font-size);
   font-weight: normal;
   color: black;
}
[tuiAppearance].light-button:hover {
   background-color: var(--blue);
   color: white;
}

[tuiAppearance].gray-button {
   background-color: #ffffff;
   box-shadow: 0 1px 1px var(--shadow-gray);;
   font: var(--main-font);
   font-size: var(--normal-font-size);
   font-weight: normal;
   color: black;
}
[tuiAppearance].gray-button:hover {
   background-color: #ededed;
}