.vertical-list {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 1rem;
}

.texts {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 0.5rem;
}

/* texts */

.header {
   font-family: var(--title-font);
   font-size: 1.5rem;
   font-weight: bold;
   width: 100%;
   text-align: center;
}

.text {
   font-family: var(--main-font);
   font-size: var(--normal-font-size);
}

/* output link */

.link-display {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   width: 100%;

   input {
      flex: 1;
      padding: 0.75rem;
      border: 2px solid var(--light-gray);
      border-radius: 1rem;
      font-size: 1.1rem;
      font-family: var(--main-font);
      background-color: #f9f9f9;
      width: 100%;
   }
}

/* buttons */

[tuiAppearance].light-gray-button {
   background-color: rgb(240, 240, 240);
   border-radius: 1rem;
   font: var(--main-font);
   font-weight: normal;
   color: black;
   padding: 0.5rem;
}

[tuiAppearance].light-gray-button:hover {
   background-color: gray;
   color: white;
}


/* images */

.small-icon {
   width: var(--normal-font-size);
   height: var(--normal-font-size);
   margin: 0.5rem;
}

/* other */

.right {
   margin-left: auto;
}